<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/form-style.css">
</head>
<body class="text-center">

    <main class="pav-container">
        <form method="POST" th:action="@{/registration}">
            <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
            <div class="form-floating">
                <input
                        th:value="${hasError}?${email}"
                        type="email"
                        th:classappend="${hasError}? (${emailError} ? 'is-invalid' : (${emailAlreadyExistError}? 'is-invalid' : 'is-valid') )"
                        class="form-control"
                        name="email"
                        id="email"
                        required
                        autocomplete="off"
                >
                <label for="email">Email</label>
                <div th:if="${emailError}" class="invalid-feedback">
                    <span th:text="${emailError}"></span>
                </div>
                <div th:if="${emailAlreadyExistError}" class="invalid-feedback">
                    <span th:text="${emailAlreadyExistError}"></span>
                </div>
                <div class="valid-feedback">
                    Все хорошо!
                </div>
            </div>
            <div class="form-floating">
                <input
                        th:attrappend="value=${hasError}?${lastname}"
                        th:classappend="${hasError}? (${lastnameError} ? 'is-invalid' : 'is-valid')"
                        type="text" class="form-control" name="lastname" id="lastname" placeholder="Фамилия" required>
                <label for="lastname">Фамилия</label>
                <div class="valid-feedback">
                    Все хорошо!
                </div>
            </div>
            <div class="form-floating">
                <input
                        th:attrappend="value=${hasError}?${name}"
                        th:classappend="${hasError}? (${nameError} ? 'is-invalid' : 'is-valid')"
                        type="text" class="form-control" name="name" id="name" placeholder="Имя" required>
                <label for="name">Имя</label>
                <div class="valid-feedback">
                    Все хорошо!
                </div>
            </div>
            <div class="form-floating">
                <input
                        th:attrappend="value=${hasError}?${password}"
                        th:classappend="${hasError}? (${passwordError} ? 'is-invalid' : 'is-valid')"
                        type="password" class="form-control" name="password" id="password" placeholder="Пароль" required>
                <label for="password">Пароль</label>
                <div th:if="${passwordError}" class="invalid-feedback">
                    <span th:text="${passwordError}"></span>
                </div>
                <div class="valid-feedback">
                    Все хорошо!
                </div>
            </div>
            <div class="form-floating">
                <input
                        th:attrappend="value=${hasError}?${passwordConfirm}"
                        th:classappend="${hasError}? (${passwordConfirmError} ? 'is-invalid' : 'is-valid')"
                        type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" placeholder="Повтор пароля" required>
                <label for="passwordConfirm">Повтор пароля</label>
                <div th:if="${passwordConfirmError}" class="invalid-feedback">
                    <span th:text="${passwordConfirmError}"></span>
                </div>
                <div class="valid-feedback">
                    Все хорошо!
                </div>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
            <a href="/" class="w-100 btn btn-lg btn-outline-secondary">Вернуться на главную</a>
            <p class="mt-5 mb-3 text-muted">©2022</p>
        </form>
    </main>
</body>
</html>